.places__container {
  width: calc(100% - 100px*2);
    margin: auto;
    padding: 92px 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
}

@media screen and (max-width: 1279px) {
    .places__container {
        width: calc(100% - 48px*2);        
        padding: 93px 0 10px;
    }
}

@media screen and (max-width: 1023px) {
    .places__container {
        width: calc(100% - 24px*2);        
        padding: 94px 0 10px;
    }
}

@media screen and (max-width: 767px) {
    .places__container {
        width: 100%;
        padding: 64px 0 0;
    }
}
