.lead__subtitle {
    margin: 0;
    padding: 36px 0 67px;
    box-sizing: border-box;
    max-width: 640px;
    font-size: 30px;
    line-height: 1.1;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

@media screen and (max-width: 1279px) {
    .lead__subtitle {
        padding: 33px 0 58px;
        line-height: 1.17;
    }
}

@media screen and (max-width: 767px) {
    .lead__subtitle {
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 424px) {
    .lead__subtitle {
        font-size: 16px;
        padding: 17px 0 43px;
    }
}